#aboutEmp{
    position:relative;
    margin:10px;
    background-color: white;
    border-radius: 10px;
    min-height: 650px;
}

#empDetailTitle{
    padding-bottom: 10px;
    border-bottom: 2px solid;
}

#detailContent{
    position:relative; 
    padding:20px;
}