#order{
  position: relative;
  background-color: white;
  margin:10px;
  display: table;
  border-radius: 10px;
}

#tables{
  width:50%;
  float:left;
  text-align: center;
  border-right: 2px dotted rgba(117, 116, 116, 0.822);
}

#takeOut{
  width:50%;
  float:right;
  text-align: center;
}

#toOrders{
  justify-content: center;
  position: relative;
  display:flex;
  flex-wrap: wrap;
}