#tableBtn{
    margin:60px;
    width: 150px;
    height:150px;
    color: #484848;
    background-color: #EAEAEA;
    border-color: #D8D8D8;
    border-radius:30px;
}

#foodImg{
    width: 100px;
    height: 100px;
}

#preparing{
}

#modal-foot{
    justify-content: unset;
    display:unset;
    position: relative;
}