#tableBtn{
    margin:60px;
    width: 150px;
    height:150px;
    color: #fff;
    background-color: #754C00;
    border-color: #754C00;
    border-radius:30px;
}

#foodImg{
    width: 100px;
    height: 100px;
}
