#tableBtn{
    margin:60px;
    padding-left:30px;
    padding-right: 30px;
    width: 150px;
    height:150px;
    color: #484848;
    background-color: #EAEAEA;
    border-color: #D8D8D8;
    border-radius:30px;
    text-align: center;
}

#modalContent{
    position: relative;
}

#servingFoods{
    position: relative;
}

#foodImg{
    width: 100px;
    height: 100px;
}

#curState{
  width:100%;
  height:50px;
  margin-top:20px;
  background-color: #3292f8;
  color:white;
  border-radius: 20px;
}

.modal-dialog{
    top:70px;
}

#modal-foot{
    justify-content: unset;
    display:unset;
    position: relative;
}